
@{
    Layout = null;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
@if (RentCar.Controllers.HomeController.Language == "1")
{
    <head runat="server">
        <title>Rent Car</title>
        <meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(Duration=0.3)" />
        <link type="text/css" rel="stylesheet" href="~/css/min/richfaces1814.css?v=200930164155" />

        <link type="image/x-icon" rel="shortcut icon" href="images/w.png" />

        <link href="~/css/min/style.css" rel="stylesheet" />
        <link href="~/css/min/style.ar1814.css" rel="stylesheet" />
        <link href="~/css/min/style1814.css" rel="stylesheet" />

        <style type="text/css">
            .part {
                height: 2%;
            }

            .container {
                height: 240px;
            }

            .MainTable {
                background-image: url('../../images/RentCar/BackGround.png');
            }

            #logo {
                position: absolute;
                margin-top: 30px;
                z-index: 1;
                width: 350px;
                height: 310px;
                margin-top: 150px;
                margin-right: 320px;
            }

            #lbltitle {
                font-family: 'Times New Roman', Times, serif;
                font-size: 50px;
                color: #4a80b4;
            }

            input[type=text], input[type=password] {
                margin-right: 23%;
                /*margin-top: 8%;*/
                width: 45%;
                border-radius: 10px;
                height: 15%;
                padding: 12px 20px;
                border: 2px solid #fbb03b !important;
                /*-webkit-transition: 0.5s;*/
                /*transition: 0.5s;*/
                outline: none;
                font-size: 16px;
            }

            input[type=submit] {
                margin-right: 37%;
                /*margin-top: 8%;*/
                width: 25%;
                height: 10%;
                padding: 12px 20px;
                border-radius: 6px;
                font-family: 'Times New Roman';
                font-size: 20px;
                background-color: #79acd7 !important;
                color: #1B1464;
                transition-duration: 0.4s;
            }

                input[type=submit]:hover {
                    background-color: #EDA63C !important;
                    color: white;
                }
        </style>

    </head>
    <body class="mainBody" dir="rtl">
        <form id="form" runat="server" method="post">
            <div class="container">
                <table class="MainTable" style="position:relative;top:20px;right:200px;">
                    <tbody>
                        <tr>
                            <td>
                                <div style="height:10px;"> </div>
                                <hr style="height:1.5px;border-width:0;color:#e0af69;background-color:#e0af69;width:1130px;">
                                <div style="height:5px;"> </div>
                            </td>
                        </tr>

                        <tr>
                            <img id="logo" src="~/images/RentCar/Logo.png" />
                            <td id="parent" style="background-color: rgba(252, 244, 233,0.5); height:550px;z-index: -1;">

                                <div style="height:5px;">
                                    <div>

                                        <table style="height:400px;margin-top:80px;margin-right:115px;width:900px;">
                                            <tbody>
                                                <tr>
                                                    <td style="position:static;top:20px;right:0px; width:450px;">

                                                        <div style="height:200px;"></div>
                                                        <div style="height:140px;text-align:center;"></div>
                                                        <div style="height:50px;">
                                                            <span style="font-family:'Times New Roman', Times, serif;font-size:28px;color:#245277">النظام الالي لادارة شركات تأجير السيارات</span>
                                                        </div>
                                                    </td>

                                                    <td id="child" style="width:450px;background-color: white;border-radius:15px;box-shadow:5px 5px 10px #b5b5b5;">
                                                        <div>
                                                            <div style="margin-top:20px;width:100%;text-align:center;">
                                                                <label id="lbltitle">تسجيل الدخول</label>
                                                            </div>

                                                            <div style="height:90px;">
                                                                <input type="text" name="txtusername" id="txtuserlogin" placeholder="إسم المستخدم" style="margin-top:8%;" autocomplete="off" />

                                                            </div>

                                                            <script>
                                                                window.onload = function () {
                                                                    var txtBox = document.getElementById("txtuserlogin");
                                                                    if (txtBox != null) {
                                                                        txtBox.focus();
                                                                    }
                                                                };


                                                            </script>
                                                            <div style="height:25px;margin-top:-10px; margin-right:105px;"><span style="font-size:15px;font-family:'Times New Roman';color:red;">@ViewBag.Login</span></div>
                                                            <div>
                                                                <input type="password" name="txtpassword" placeholder="كلمة السر" />
                                                            </div>
                                                            <div style="height:40px;margin-top:3px; margin-right:105px;">
                                                                <span style="font-size:15px;font-family:'Times New Roman';color:red;">@ViewBag.Password</span>
                                                                <span style="font-size:15px;font-family:'Times New Roman';color:red;">@ViewBag.LoginError</span>
                                                            </div>

                                                            <div>
                                                                <input type="submit" name="LogEnter" value="الدخول" />
                                                            </div>
                                                            <div>
                                                                <input type="submit" name="lang" value="English" style="margin-top:3%;" @*onclick="location.href='@Url.Action("Login", "Account")'*@ />
                                                            </div>



                                                        </div>
                                                    </td>



                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <div style="height:5px;"> </div>
                                <hr style="height:2px;border-width:0;color:#e0af69;background-color:#e0af69;width:1130px;">
                                <div style="height:12px;"> </div>
                                <div style="background-color: #FFCE94; height:100px;"> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </body>
    }











    @*******************************Page in english*********************@
    @if (RentCar.Controllers.HomeController.Language == "2")
    {
        <head runat="server">
            <title>Rent Car</title>
            <meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(Duration=0.3)" />
            <link type="text/css" rel="stylesheet" href="~/css/min/richfaces1814.css?v=200930164155" />

            <link type="image/x-icon" rel="shortcut icon" href="images/w.png" />

            <link href="~/css/min/style.css" rel="stylesheet" />
            <link href="~/css/min/style.ar1814.css" rel="stylesheet" />
            <link href="~/css/min/style1814.css" rel="stylesheet" />

            <style type="text/css">
                .part {
                    height: 2%;
                }

                .container {
                    height: 240px;
                }

                .MainTable {
                    background-image: url('../../images/RentCar/BackGround.png');
                }

                #logo {
                    position: absolute;
                    margin-top: 30px;
                    z-index: 1;
                    width: 350px;
                    height: 310px;
                    margin-top: 150px;
                    margin-right: 320px;
                }

                #lbltitle {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 50px;
                    color: #4a80b4;
                }

                input[type=text], input[type=password] {
                    margin-right: 23%;
                    /*margin-top: 8%;*/
                    width: 45%;
                    border-radius: 10px;
                    height: 15%;
                    padding: 12px 20px;
                    border: 2px solid #fbb03b !important;
                    /*-webkit-transition: 0.5s;*/
                    /*transition: 0.5s;*/
                    outline: none;
                    font-size: 16px;
                }

                input[type=submit] {
                    margin-right: 37%;
                    /*margin-top: 8%;*/
                    width: 25%;
                    height: 10%;
                    padding: 12px 20px;
                    border-radius: 6px;
                    font-family: 'Times New Roman';
                    font-size: 20px;
                    background-color: #79acd7 !important;
                    color: #1B1464;
                    transition-duration: 0.4s;
                }

                    input[type=submit]:hover {
                        background-color: #EDA63C !important;
                        color: white;
                    }
            </style>

        </head>
        <body class="mainBody" dir="rtl">
            <form id="form" runat="server" method="post">
                <div class="container">
                    <table class="MainTable" style="position:relative;top:20px;right:200px;">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="height:10px;"> </div>
                                    <hr style="height:1.5px;border-width:0;color:#e0af69;background-color:#e0af69;width:1130px;">
                                    <div style="height:5px;"> </div>
                                </td>
                            </tr>

                            <tr>
                                <img id="logo" src="~/images/RentCar/Logo.png" />
                                <td id="parent" style="background-color: rgba(252, 244, 233,0.5); height:550px;z-index: -1;">

                                    <div style="height:5px;">
                                        <div>

                                            <table style="height:400px;margin-top:80px;margin-right:115px;width:900px;">
                                                <tbody>
                                                    <tr>
                                                        <td style="position:static;top:20px;right:0px; width:450px;">

                                                            <div style="height:200px;"></div>
                                                            <div style="height:140px;text-align:center;"></div>
                                                            <div style="height:50px;">
                                                                <span style="font-family:'Times New Roman', Times, serif;font-size:28px;color:#245277">النظام الالي لادارة شركات تأجير السيارات</span>
                                                            </div>
                                                        </td>

                                                        <td id="child" style="width:450px;background-color: white;border-radius:15px;box-shadow:5px 5px 10px #b5b5b5;">
                                                            <div>
                                                                <div style="margin-top:20px;width:100%;text-align:center;">
                                                                    <label id="lbltitle">تسجيل الدخول</label>
                                                                </div>

                                                                <div style="height:90px;">
                                                                    <input type="text" name="txtusername" id="txtuserlogin" placeholder="إسم المستخدم" style="margin-top:8%;" autocomplete="off" />

                                                                </div>

                                                                <script>
                                                                    window.onload = function () {
                                                                        var txtBox = document.getElementById("txtuserlogin");
                                                                        if (txtBox != null) {
                                                                            txtBox.focus();
                                                                        }
                                                                    };


                                                                </script>
                                                                <div style="height:25px;margin-top:-10px; margin-right:105px;"><span style="font-size:15px;font-family:'Times New Roman';color:red;">@ViewBag.Login</span></div>
                                                                <div style="height:86px;">
                                                                    <input type="password" name="txtpassword" placeholder="كلمة السر" />
                                                                </div>
                                                                <div style="height:0px;margin-top:3px; margin-right:105px;">
                                                                    <span style="font-size:15px;font-family:'Times New Roman';color:red;">@ViewBag.Password</span>
                                                                    <span style="font-size:15px;font-family:'Times New Roman';color:red;">@ViewBag.LoginError</span>
                                                                </div>

                                                                <div>
                                                                    <input type="submit" name="LogEnter" value="الدخول" />
                                                                </div>
                                                                <div>
                                                                    <input type="submit" name="lang" value="Français" style="margin-top:3%;" @*onclick="location.href='@Url.Action("Login", "Account")'*@ />
                                                                </div>



                                                            </div>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <div style="height:5px;"> </div>
                                    <hr style="height:2px;border-width:0;color:#e0af69;background-color:#e0af69;width:1130px;">
                                    <div style="height:12px;"> </div>
                                    <div style="background-color: #FFCE94; height:100px;"> </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </body>
    }







    @*******************************Page in French*********************@
    @if (RentCar.Controllers.HomeController.Language == "3")
    {
        <head runat="server">
            <title>Rent Car</title>
            <meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(Duration=0.3)" />
            <link type="text/css" rel="stylesheet" href="~/css/min/richfaces1814.css?v=200930164155" />

            <link type="image/x-icon" rel="shortcut icon" href="images/w.png" />

            <link href="~/css/min/style.css" rel="stylesheet" />
            <link href="~/css/min/style.ar1814.css" rel="stylesheet" />
            <link href="~/css/min/style1814.css" rel="stylesheet" />

            <style type="text/css">
                .part {
                    height: 2%;
                }

                .container {
                    height: 240px;
                }

                .MainTable {
                    background-image: url('../../images/RentCar/BackGround.png');
                }

                #logo {
                    position: absolute;
                    margin-top: 30px;
                    z-index: 1;
                    width: 350px;
                    height: 310px;
                    margin-top: 120px;
                    margin-left: 100px;
                }

                #lbltitle {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 40px;
                    color: #4a80b4;
                    margin-top: 20px;
                }

                input[type=text], input[type=password] {
                    margin-left: 23%;
                    /*margin-top: 8%;*/
                    width: 45%;
                    border-radius: 10px;
                    height: 15%;
                    padding: 12px 20px;
                    border: 2px solid #fbb03b !important;
                    /*-webkit-transition: 0.5s;*/
                    /*transition: 0.5s;*/
                    outline: none;
                    font-size: 16px;
                }

                input[type=submit] {
                    margin-left: 37%;
                    /*margin-top: 8%;*/
                    width: 25%;
                    height: 10%;
                    padding: 12px 20px;
                    border-radius: 6px;
                    font-family: 'Times New Roman';
                    font-size: 20px;
                    background-color: #79acd7 !important;
                    color: #1B1464;
                    transition-duration: 0.4s;
                }

                    input[type=submit]:hover {
                        background-color: #EDA63C !important;
                        color: white;
                    }
            </style>

        </head>
        <body class="mainBody" dir="ltr">
            <form id="form3" runat="server" method="post">
                <div class="container">
                    <table class="MainTable" style="position:relative;top:20px;left:200px;">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="height:10px;"> </div>
                                    <hr style="height:1.5px;border-width:0;color:#e0af69;background-color:#e0af69;width:1130px;">
                                    <div style="height:5px;"> </div>
                                </td>
                            </tr>

                            <tr>

                                <td id="parent" style="background-color: rgba(252, 244, 233,0.5); height:550px;z-index: -1;">
                                    <div style="position:relative;float:right;width:550px;height:550px;">




                                        <div id="child" style="width:450px;margin-right:100px;margin-top:100px;background-color: white;border-radius:15px;box-shadow:5px 5px 10px #b5b5b5;height:380px;">
                                            <div>
                                                <div style="margin-top: 20px; width: 100%; text-align: center;">
                                                    <label id="lbltitle">S'identifier</label>
                                                </div>

                                                <div style="height:90px;">
                                                    <input type="text" name="txtusername" id="txtuserlogin" placeholder="Nom d'utilisateur" style="margin-top:8%;" autocomplete="off" />

                                                </div>

                                                <script>
                                                    window.onload = function () {
                                                        var txtBox = document.getElementById("txtuserlogin");
                                                        if (txtBox != null) {
                                                            txtBox.focus();
                                                        }
                                                    };


                                                </script>
                                                <div style="height:25px;margin-top:-10px; margin-left:105px;"><span style="font-size:15px;font-family:'Times New Roman';color:red;">@ViewBag.Login</span></div>
                                                <div>
                                                    <input type="password" name="txtpassword" placeholder="Mot de passe" />
                                                </div>
                                                <div style="height:40px;margin-top:3px; margin-left:105px;">
                                                    <span style="font-size:15px;font-family:'Times New Roman';color:red;">@ViewBag.Password</span>
                                                    <span style="font-size:15px;font-family:'Times New Roman';color:red;">@ViewBag.LoginError</span>
                                                </div>

                                                <div>
                                                    <input type="submit" name="LogEnter" value="Entrer" />
                                                </div>
                                                <div>
                                                    <input type="submit" name="lang" value="عربي" style="margin-top:3%;" @*onclick="location.href='@Url.Action("Login", "Account")'*@ />
                                                </div>



                                            </div>
                                        </div>





                                    </div>
                                    <div style="position:relative;float:right;width:550px;height:550px;">
                                        <div style="height:450px;"><img id="logo" src="~/images/RentCar/Logo.png" /></div>
                                        <div style="height:100px;">
                                            <span style="font-family:'Times New Roman', Times, serif;font-size:20px;color:#245277;align-content:center;width:550px;float:left">Système automatisé de gestion des sociétés de location de voitures</span>
                                        </div>

                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <div style="height:5px;"> </div>
                                    <hr style="height:2px;border-width:0;color:#e0af69;background-color:#e0af69;width:1130px;">
                                    <div style="height:12px;"> </div>
                                    <div style="background-color: #FFCE94; height:100px;"> </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </body>
    }









</html>
