@model RentCar.Models.CR_Mas_Sup_Car_Specifications
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h4 style="margin-right: 30px;font:bold 18px Simplified Arabic">إضافة</h4>
<style>
    #sp {
        margin-right: 15%;
        margin-top: 5px;
        margin-bottom:5px;
    }
    #add_btn {
        background-color: #5bc0de;
        height: 35px;
        width: 60px;
        margin-right: 20px;
        margin-top: 40px;
        color: #fff;
        float: right;
        margin-bottom:10px;
    }
   .lbl{
       margin-right:30px;
       font-size:16px;
       font-family:'Times New Roman';
   }
    .txt {
        width: 200px;
        margin-right: 20px;
        margin-top: 10px;
    }
    .text-danger {
        font-size: 12px;
        margin-right: 160px;
        font-family: 'Times New Roman';
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" >
    <h4><span style="margin-right:30px;font:bold 15px Simplified Arabic">تمكن هذه الصفحة المستخدم من إظافة مواصفة جديدة</span></h4>
    <hr style="border-top: 1px solid #1c11114a;" />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_Sup_Car_Specifications_Code, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_Sup_Car_Specifications_Code, new { @class = "txt", style = "margin-right:72px;width:10%" , @readonly = "readonly" })
            <br>@Html.ValidationMessageFor(model => model.CR_Mas_Sup_Car_Specifications_Code, "", new { @class = "hidden" })
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_Sup_Car_Specifications_Ar, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_Sup_Car_Specifications_Ar, new { @class = "txt", style = "margin-right:36px;" })
            <br>@Html.ValidationMessageFor(model => model.CR_Mas_Sup_Car_Specifications_Ar, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_Sup_Car_Specifications_En, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_Sup_Car_Specifications_En, new { @class = "txt", style = "margin-right:20px" })
            <br>@Html.ValidationMessageFor(model => model.CR_Mas_Sup_Car_Specifications_En, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_Sup_Car_Specifications_Fr, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_Sup_Car_Specifications_Fr, new { @class = "txt", style = "margin-right:26.5px;" })
            <br>@Html.ValidationMessageFor(model => model.CR_Mas_Sup_Car_Specifications_Fr, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.CR_Mas_Sup_Car_Specifications_Reasons, htmlAttributes: new { @class = "Hidden" })
        @Html.EditorFor(model => model.CR_Mas_Sup_Car_Specifications_Reasons, new { htmlAttributes = new { @class = "Hidden" }, @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.CR_Mas_Sup_Car_Specifications_Reasons, "", new { @class = "Hidden" })

        @Html.LabelFor(model => model.CR_Mas_Sup_Car_Specifications_Status, htmlAttributes: new { @class = "hidden" })
        @Html.EditorFor(model => model.CR_Mas_Sup_Car_Specifications_Status, new { htmlAttributes = new { @class = "hidden", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.CR_Mas_Sup_Car_Specifications_Status, "", new { @class = "hidden" })
    </div>
    <input type="submit" name="add" class="btn btn-info" id="add_btn" value="حفظ" title="حفظ" />
    @Html.ActionLink("إنهاء", "Index", "Specifications", null, new { @class = "btn btn-info", Style = "Float:Left;margin-top:40px;margin-left:10px;font-family:Times-new-roman;width:60px;" })
</div>
}