@model RentCar.Models.CR_Mas_User_Information
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h4 style="margin-right: 30px;font:bold 18px Simplified Arabic">المستخدمين / إضافة</h4>
<style>
    #sp {
        margin-right: 15%;
        margin-top: 5px;
        margin-bottom:5px;
    }
    #add_btn {
        background-color: #5bc0de;
        height: 35px;
        width: 60px;
        margin-right: 20px;
        margin-top: 40px;
        color: #fff;
        float: right;
        margin-bottom:10px;
    }
   .lbl{
       margin-right:30px;
       font-size:16px;
       font-family:'Times New Roman';
    }
    .txt {
        width: 200px;
        margin-right: 20px;
        margin-top: 10px;
    }
    .text-danger {
        font-size: 12px;
        margin-right: 160px;
        font-family: 'Times New Roman';
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
    <h4><span style="margin-right:30px;font:bold 15px Simplified Arabic">تمكن هذه الصفحة المستخدم من إظافة مستخدم جديد</span></h4>
    <hr style="border-top: 1px solid #1c11114a;" />
    <div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_User_Information_Code, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_User_Information_Code, new { @class = "txt", style = "margin-right:65px;width:13%", @readonly = "readonly" })
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_User_Information_Ar_Name, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_User_Information_Ar_Name, new { @class = "txt", style = "margin-right:24px;width:30%;", maxlength = "30", autocomplete = "off" })
            <br><span class="text-danger">@ViewBag.LRExistAr</span>
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_User_Information_En_Name, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_User_Information_En_Name, new { @class = "txt", style = "margin-right:10px;width:30%;", maxlength = "30", autocomplete = "off" })
            <br><span class="text-danger">@ViewBag.LRExistEn</span>
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_User_Information_Fr_Name, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_User_Information_Fr_Name, new { @class = "txt", style = "margin-right:17px;width:30%;", maxlength = "30", autocomplete = "off" })
            <br><span class="text-danger">@ViewBag.LRExistFr</span>
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_User_Information_Mobile_No, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_User_Information_Mobile_No, new { @class = "txt", style = "margin-right:40px;width:30%;", autocomplete = "off" })
            <br>@Html.ValidationMessageFor(model => model.CR_Mas_User_Information_Mobile_No, "", new { @class = "text-danger" })
        </div>
        @*<div id="merci"></div>
        <script type="text/javascript">
            document.getElementById('merci').innerHTML = "<label style = 'margin-Top:10px;margin-right:300px'>La modification a été effectuée</label>";
            setTimeout(function () {
                document.getElementById('merci').innerHTML = "";
            }, 5000);
        </script>*@

        @Html.LabelFor(model => model.CR_Mas_User_Information_Reasons, htmlAttributes: new { @class = "hidden" })
        @Html.EditorFor(model => model.CR_Mas_User_Information_Reasons, new { htmlAttributes = new { @class = "hidden" }})

        @Html.LabelFor(model => model.CR_Mas_User_Information_PassWord, htmlAttributes: new { @class = "hidden" })
        @Html.EditorFor(model => model.CR_Mas_User_Information_PassWord, new { htmlAttributes = new { @class = "hidden"}})

        @Html.LabelFor(model => model.CR_Mas_User_Information_Status, htmlAttributes: new { @class = "hidden" })
        @Html.EditorFor(model => model.CR_Mas_User_Information_Status, new { htmlAttributes = new { @class = "hidden"}})
    </div>
    <input type="submit" name="add" class="btn btn-info" id="add_btn" value="حفظ" title="حفظ" />
    @Html.ActionLink("إنهاء", "Index", "User", null, new { @class = "btn btn-info", Style = "Float:Left;margin-top:40px;margin-left:10px;font-family:Times-new-roman;width:60px;" })
</div>
}