@model IEnumerable<RentCar.Models.CR_Mas_User_Information>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    @*<input type="button" name="GoHome" value="الرئيسية" id="Btn" style="width:120px;margin-left:10px" onclick="@("window.location.href='" + @Url.Action("index","home") + "'") ;" />*@
    <h4 style="margin-right:10px;">المستخدمين</h4>
    <h6 style="margin-right:10px;">تعرض هذه الصفحة بيانات المستخدمين و تمكن البحث عن مستخدم أو إظافة مستخدم جديد</h6>
</div>
<style>
    #inputtext {
        width: 250px;
        height: 30px;
        margin-right: 5px;
        margin-left: -5px;
        float: left;
    }
    #SrchImg {
        float: left;
        margin-top: -10px;
        margin-left: 0px;
        margin-right: -35px;
    }
    #Btn {
        width: 60px;
        height: 30px;
        margin-right: 10px;
        float: left;
        color: #fff;
        background-color: #5bc0de;
        border-color: #5bc0de;
        font: bold 15px Simplified Arabic;
    }
    .table thead {
        /*background: #9898988c;*/
        overflow-y: scroll;
        flex-grow: 1;
    }
    .table tr a {
        text-decoration: none;
        color: black;
    }
    .table td {
        border-color: #000;
    }
    .table thead th {
        color: #124f77;
        border-color: #000;
        border-bottom: 2px solid #000;
        text-align: center;
        background: #989898;
        position: sticky;
        top: 0;
    }
    .btn-info {
        margin-right: 10px;
    }
</style>
<form method="post">
    <div class="form_bg">
        <p style="margin-top:20px">

            @Html.ActionLink(" ", "Index", "Home", null, new { @class = "btn btn-danger glyphicon glyphicon-remove", title = "إنهاء", style = "margin-right:10px;" })
            @Html.ActionLink(" ", "Create", "User", null, new { @class = "btn btn-info glyphicon glyphicon-plus", title = "إضافة مستخدم" })
            <input type="submit" title="تحويل للإكسل" name="excelCall" class="btn btn-info" value="Excel" style="width: 100px; height: 34px;margin-top:3px; background-color: #5bc0de; border-color: #46b8da;" onclick="@("window.location.href='" + @Url.Action("index","home") + "'") ;" />
            @Html.ActionLink(" ", " ", " ", null, new { @class = "btn btn-info glyphicon glyphicon-print", title = "طباعة" })
            @Html.ActionLink(" ", " ", " ", null, new { @class = "btn btn-info glyphicon glyphicon-Search", title = "بحث" })


            <img src="~/images/srch.png" id="SrchImg" />
            <input class="form-control" type="text" id="inputtext" name="TxtSearch" placeholder="بحث..." />
            <script>
                $(document).ready(function () {
                    $("#inputtext").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#tbl tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>

            @*<input type="submit" id="btn" name="BtnSearch" value="بحث" />*@
        </p>
        <div class="table-responsive" style="width:697px; height:250px; overflow:auto;border: 1px solid #1c11114a;">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:10%;">@Html.DisplayNameFor(model => model.CR_Mas_User_Information_Code)</th>
                        @if (RentCar.Controllers.HomeController.Language == "1")
                        {
                            <th style="width:13%;">@Html.DisplayNameFor(model => model.CR_Mas_User_Information_Ar_Name)</th>
                        }
                        @if (RentCar.Controllers.HomeController.Language == "2")
                        {
                            <th style="width:10%;">@Html.DisplayNameFor(model => model.CR_Mas_User_Information_En_Name)</th>
                        }
                        @if (RentCar.Controllers.HomeController.Language == "3")
                        {
                            <th style="width:5%;">@Html.DisplayNameFor(model => model.CR_Mas_User_Information_Fr_Name)</th>
                        }
                        <th style="width:10%;">@Html.DisplayNameFor(model => model.CR_Mas_User_Information_Mobile_No)</th>
                        <th style="width:10%;">@Html.DisplayNameFor(model => model.CR_Mas_User_Information_Status)</th>
                        <th style="width:40%;">@Html.DisplayNameFor(model => model.CR_Mas_User_Information_Reasons)</th>
                    </tr>
                </thead>

                <tbody id="tbl">
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td align="center">
                            <a href="~/User/edit/@Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Code)">
                                @Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Code)
                            </a>
                        </td>

                        @if (RentCar.Controllers.HomeController.Language == "1")
                        {
                            <td>
                                <a href="~/User/edit/@Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Code)">
                                    @Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Ar_Name)
                                </a>
                            </td>
                        }

                        @if (RentCar.Controllers.HomeController.Language == "2")
                        {
                            <td>
                                <a href="~/User/edit/@Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Code)">
                                    @Html.DisplayFor(modelItem => item.CR_Mas_User_Information_En_Name)
                                </a>
                            </td>
                        }

                        @if (RentCar.Controllers.HomeController.Language == "3")
                        {
                            <td>
                                <a href="~/User/edit/@Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Code)">
                                    @Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Fr_Name)
                                </a>
                            </td>
                        }
                        @*<td>
                            @Html.DisplayFor(modelItem => item.CR_Mas_User_Information_PassWord)
                        </td>*@

                        <td>
                            <a href="~/User/edit/@Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Code)">
                                @Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Mobile_No)
                            </a>
                        </td>

                        <td align="center">
                            <a href="~/User/edit/@Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Code)">
                                @Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Status)
                            </a>
                        </td>

                        <td>
                            <a href="~/User/edit/@Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Code)">
                                @Html.DisplayFor(modelItem => item.CR_Mas_User_Information_Reasons)
                            </a>
                        </td>
                        @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CR_Mas_User_Information_Code }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CR_Mas_User_Information_Code }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CR_Mas_User_Information_Code })
                        </td>*@
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>