@model RentCar.Models.CR_Mas_Sup_City

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CR_Mas_Sup_City</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_City_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_City_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_City_En_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_City_En_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_City_Fr_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_City_Fr_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_City_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_City_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_City_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_City_Reasons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Regions.CR_Mas_Sup_Regions_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Regions.CR_Mas_Sup_Regions_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Group.CR_Mas_Sup_Group_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Group.CR_Mas_Sup_Group_Ar_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
