@model RentCar.Models.CR_Mas_Sup_Car_Model_Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CR_Mas_Sup_Car_Model_Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Door_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Door_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Bag_Bags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Bag_Bags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Small_Bags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Small_Bags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Passengers_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Passengers_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Clinder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Clinder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Hourses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Hourses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Payload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Payload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Car_Model_Category_Reasons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Category_Car.CR_Mas_Sup_Category_Car_Group_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Category_Car.CR_Mas_Sup_Category_Car_Group_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Model.CR_Mas_Sup_Model_Group_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Model.CR_Mas_Sup_Model_Group_Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
