@model IEnumerable<RentCar.Models.CR_Mas_Sup_Car_Model_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Bootstrap_Arabic/bootstrap.min.css" rel="stylesheet" />
<link href="~/Bootstrap_Arabic/bootstrap-big-grid.min.css" rel="stylesheet" />
<link href="~/Bootstrap_Arabic/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="~/Bootstrap_Arabic/font-awesome.css" type="text/css" rel="stylesheet" />
<script src="~/Bootstrap_Arabic/jquery-v1.11.2.js"></script>
<script src="~/Bootstrap_Arabic/bootstrap.min.js"></script>
<script src="~/Bootstrap_Arabic/bootstrap.min.js"></script>
<script src="~/Bootstrap_Arabic/jquery.dataTables.min.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569818907/jquery.table2excel.min.js"></script>
@*<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--content page /**layout**/-->
<style>
    #inputtext {
        width: 250px;
        height: 30px;
        margin-right: 293px;
        margin-left: -5px;
        float: left;
        margin-top: 5px;
        border-color: #4A80B3;
        border-radius: unset;
    }

    #SrchImg {
        float: left;
        margin-top: -5px;
        margin-left: 0px;
        margin-right: -35px;
        position: relative;
    }

    td {
        font-family: 'Times New Roman';
        font-size: 14px;
        padding: 5px 4px !important;
        font-weight: 100;
        color: #73A0C1;
        border-color: #4A80B3;
    }

    th {
        font-family: 'Times New Roman';
        font-size: 16px;
        font-weight: bold;
        border-color: #4A80B3;
        cursor: pointer;
    }

    .title_corp {
        margin-top: -15px;
    }

    .table thead {
        overflow-y: scroll;
        flex-grow: 1;
    }

    .table tr a {
        text-decoration: none;
        color: black !important;
        border-color: #4A80B3;
    }

    .table td {
        color: #083555;
        border-color: #4A80B3;
    }

    .table thead th {
        color: #124f77;
        border-color: #4A80B3;
        text-align: center;
        background: #D1EAFA;
        position: sticky;
        top: 0;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .title_corp {
        font-family: 'Times New Roman';
        font-size: 25px;
    }

    .subtitle_corp {
        padding-top: 3px !important;
        font-family: 'Times New Roman' !important;
        color: #083555;
    }
    .Valigncenter{
        vertical-align:middle!important;
    }
   
</style>
<div class="corp_content">
    <div class="title_corp">
        تحديد الفئة / عرض البيانات
    </div>
    <div class="subtitle_corp">
        تعرض هذه الصفحة بيانات الماركات و تمكن المستخدم من البحث عن تحديدالفئة أو إظافة تحديد جديد للفئة
    </div>
    <div class="hr_60"></div>
    <div class="hr_80"></div>
    <div class="corp_page">
        <div class="page_content">
            <form method="post">
                <div class="form_bg">

                    <div class="href_layout" style="margin-bottom:7px!important;">
                        <a href="/Home/index" class="btn_form"><i class="fa fa-times" title="إغلاق"></i></a>
                        @if (RentCar.Controllers.AccountController.ST_1508_insert == true)
                        {
                            <a href="/ModelCategory/Create" class="btn_form"><i class="fa fa-plus" title="إضافة سجل جديد"></i></a>
                        }
                        else
                        {
                            <a href="" class="btn_form" style="cursor:no-drop;"><i class="fa fa-plus" title="إضافة سجل جديد" onclick="javascript:return false;"></i></a>
                        }
                        <!--<a id="exporttable" class="btn_form"><i class="fa fa-file"></i></a>-->

                        @if (RentCar.Controllers.AccountController.ST_1508_print == true)
                        {
                            <input type="submit" name="excelCall" title="ترحيل البيانات للإكسل" class="btn_form btn_exel" value="Excel" style="padding-right:4px;" />
                            <a href="" class="btn_form" title="طباعة" onclick="printDiv()" style=""><i class="fa fa-print"></i></a>
                        }
                        else
                        {
                            <input type="submit" name="excelCall" title="ترحيل البيانات للإكسل" class="btn_form btn_exel" value="Excel" style="padding-right:4px;cursor:no-drop;" disabled />
                            <a href="" class="btn_form ii" style="cursor:no-drop;" title="طباعة" onclick="javascript:return false;"><i class="fa fa-print"></i></a>
                        }
                        <a href="" class="btn_form" title="بحث متقدم" onclick="javascript:return false;" style=""><i class='fa fa-search'></i></a>

                        <img src="~/images/srch.png" id="SrchImg" />
                        <input class="form-control" type="text" id="inputtext" name="TxtSearch" placeholder="بحث..." />
                        <script>
                            $(document).ready(function () {
                                $("#inputtext").on("keyup", function () {
                                    var value = $(this).val().toLowerCase();
                                    $("#tbl tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });
                        </script>
                    </div>
                    <div class="table-responsive" style="width: 99%; height: 373px; overflow: auto; border: 1px solid #4A80B3;">
                        <div id="dtBasicExample_print">

                            <table class="table table-bordered table-striped " id="myTable">
                                <thead>
                                    <tr>
                                        <th style="width:25%;" onclick="sortTable(0)">الماركة</th>
                                        <th style="width:25%;" onclick="sortTable(1)">الطراز</th>
                                        <th style="width:25%;" onclick="sortTable(2)">فئة السيار</th>
                                        <th style="width:25%;" onclick="sortTable(3)">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Year)</th>
                                        <th style="width:25%;" onclick="sortTable(4)">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Door_No)</th>
                                        <th style="width:25%;" onclick="sortTable(5)">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Passengers_No)</th>
                                        <th style="width:25%;" onclick="sortTable(6)">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Bag_Bags)</th>
                                        <th style="width:25%;" onclick="sortTable(7)">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Small_Bags)</th>
                                        @*<th style="width:25%;">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Hourses)</th>
                                        <th>@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Clinder)</th>
                                        <th>@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Payload)</th>
                                        <th>@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Weight)</th>
                                        <th>@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Picture)</th>*@
                                        <th>@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Status)</th>
                                        <th style="width:300px!important;">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Car_Model_Category_Reasons)</th>
					@*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody id="tbl">
                                    @foreach (var item in Model)
                                    {
                                        if (RentCar.Controllers.AccountController.ST_1508_update)
                                        {
                                    <tr>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Model.CR_Mas_Sup_Brand.CR_Mas_Sup_Brand_Ar_Name.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Model.CR_Mas_Sup_Model_Ar_Name.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Category_Car.CR_Mas_Sup_Category_Car_Ar_Name.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Car_Model_Category_Year.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Car_Model_Category_Door_No.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Car_Model_Category_Passengers_No.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Car_Model_Category_Bag_Bags.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Car_Model_Category_Small_Bags.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        @*<td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Car_Model_Category_Hourses.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Car_Model_Category_Clinder.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Car_Model_Category_Payload.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.ActionLink(item.CR_Mas_Sup_Car_Model_Category_Weight.ToString(), "Edit", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code, id2 = item.CR_Mas_Sup_Car_Category_Code })
                                        </td>

                                        <td class="Valigncenter">
                                            @if (item.CR_Mas_Sup_Car_Model_Category_Picture != null)
                                            {
                                                <a href='@Url.Action("Edit", "ModelCategory", new { id1 = item.CR_Mas_Sup_Car_Model_Category_Code,id2=item.CR_Mas_Sup_Car_Category_Code })'>
                                                    <img src="@Url.Content(item.CR_Mas_Sup_Car_Model_Category_Picture)" width="50" height="50" />
                                                </a>
                                            }

                                        </td>*@
                                        <td align="center" class="Valigncenter">
                                            @if (item.CR_Mas_Sup_Car_Model_Category_Status == "A")
                                            {
                                                <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Status)">نشط</a>
                                            }
                                            @if (item.CR_Mas_Sup_Car_Model_Category_Status == "D")
                                            {
                                                <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Status)">معطل</a>
                                            }
                                            @if (item.CR_Mas_Sup_Car_Model_Category_Status == "H")
                                            {
                                                <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Status)">محذوف</a>
                                            }
                                        </td>
                                        <td class="Valigncenter">
                                            @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Reasons)
                                        </td>
                                    </tr>
                                        }
                                        else
                                        {

                                            <tr>
                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Door_No)
                                                </td>
                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Bag_Bags)
                                                </td>
                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Small_Bags)
                                                </td>
                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Passengers_No)
                                                </td>
                                                @*<td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Weight)
                                                </td>
                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Clinder)
                                                </td>
                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Hourses)
                                                </td>
                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Payload)
                                                </td>
                                                <td class="Valigncenter">
                                                    @if (item.CR_Mas_Sup_Car_Model_Category_Picture != null)
                                                    {
                                                        <img src="@Url.Content(item.CR_Mas_Sup_Car_Model_Category_Picture)" width="50" height="50" />
                                                    }

                                                </td>*@

                                                @if (item.CR_Mas_Sup_Car_Model_Category_Status == "A")
                                                {
                                                    <td align="center" style="padding-right:10px;">
                                                        نشط
                                                    </td>
                                                }
                                                @if (item.CR_Mas_Sup_Car_Model_Category_Status == "D")
                                                {
                                                    <td align="center" style="padding-right:10px;">
                                                        محذوف
                                                    </td>
                                                }
                                                @if (item.CR_Mas_Sup_Car_Model_Category_Status == "H")
                                                {
                                                    <td align="center" style="padding-right:10px;">
                                                        معطل
                                                    </td>
                                                }

                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Car_Model_Category_Reasons)
                                                </td>
                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Category_Car.CR_Mas_Sup_Category_Car_Ar_Name)
                                                </td>
                                                <td class="Valigncenter">
                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model.CR_Mas_Sup_Model_Ar_Name)
                                                </td>
                                            </tr>

                                        }
                                        @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@

                                    }
                                </tbody>
                            </table>
                        </div>
                        <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
                        <script>
                            function printDiv() {
                                window.frames["print_frame"].document.body.innerHTML = document.getElementById("dtBasicExample_print").innerHTML;
                                window.frames["print_frame"].window.focus();
                                window.frames["print_frame"].window.print();
                            }
                        </script>
                        <script>
                            $(document).ready(function () {
                                $('#dtBasicExample').DataTable();
                                $('.dataTables_length').addClass('bs-select');
                            });
                                //////$(function () {
                                //////    $("#exporttable").click(function (e) {
                                //////        var table = $("#dtBasicExample");
                                //////        if (table && table.length) {
                                //////            $(table).table2excel({
                                //////                exclude: ".noExl",
                                //////                name: "Excel Document Name",
                                //////                filename: "BBBootstrap" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
                                //////                fileext: ".xls",
                                //////                exclude_img: true,
                                //////                exclude_links: true,
                                //////                exclude_inputs: true,
                                //////                preserveColors: false
                                //////            });
                                //////        }
                                //////    });
                                //////});
                        </script>
                        <script>
                            function sortTable(n) {
                                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                table = document.getElementById("myTable");
                                switching = true;
                                // Set the sorting direction to ascending:
                                dir = "asc";
                                /* Make a loop that will continue until
                                no switching has been done: */
                                while (switching) {
                                    // Start by saying: no switching is done:
                                    switching = false;
                                    rows = table.rows;
                                    /* Loop through all table rows (except the
                                    first, which contains table headers): */
                                    for (i = 1; i < (rows.length - 1); i++) {
                                        // Start by saying there should be no switching:
                                        shouldSwitch = false;
                                        /* Get the two elements you want to compare,
                                        one from current row and one from the next: */
                                        x = rows[i].getElementsByTagName("TD")[n];
                                        y = rows[i + 1].getElementsByTagName("TD")[n];
                                        /* Check if the two rows should switch place,
                                        based on the direction, asc or desc: */
                                        if (dir == "asc") {
                                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                // If so, mark as a switch and break the loop:
                                                shouldSwitch = true;
                                                break;
                                            }
                                        } else if (dir == "desc") {
                                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                // If so, mark as a switch and break the loop:
                                                shouldSwitch = true;
                                                break;
                                            }
                                        }
                                    }
                                    if (shouldSwitch) {
                                        /* If a switch has been marked, make the switch
                                        and mark that a switch has been done: */
                                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                        switching = true;
                                        // Each time a switch is done, increase this count by 1:
                                        switchcount++;
                                    } else {
                                        /* If no switching has been done AND the direction is "asc",
                                        set the direction to "desc" and run the while loop again. */
                                        if (switchcount == 0 && dir == "asc") {
                                            dir = "desc";
                                            switching = true;
                                        }
                                    }
                                }
                            }
                        </script>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>