@model RentCar.Models.CR_Mas_User_Sub_Validation

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<style>
    /*#list{display:none}*/

    .texterr {
        font-family: 'Times New Roman' !important;
        font-size: 14px !important;
        color: red !important;
        margin-right: 50% !important;
        height: 20px;
    }

    #asterisk {
        color: red;
        float: right;
        font-size: 15px !important;
        margin-right: 112px;
        margin-top: 5px;
        position: absolute;
        font-family: 'Times New Roman';
    }
</style>
<div class="corp_content">
    <div class="title_corp"> الفئات / اضافة</div>
    <div class="subtitle_corp">تمكن هذه الصفحة المستخدم من إظافة فئة جديدة</div>
    <div class="hr_60"></div>
    <div class="hr_80"></div>
    <div class="corp_page">
        <div class="page_content" style=" margin-top: 10px; height:421px!important;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-horizontal">

                    <div class="row" style="margin-top:0px;">
                        <div>
                            <div class="col-md-6" style="float:right;">
                                <label id="SystemName" class="control-label col-md-12">المستخدم</label>
                                @Html.DropDownList("CR_Mas_User_Sub_Validation_Code", null, "-- Select user name --", htmlAttributes: new { @class = "input_form col-md-6", style = "float:right" })
                                <div class="texterr" style="float:right">@ViewBag.exist</div>
                                <div class="texterr">@ViewBag.UserInfo</div>
                            </div>

                            <div class="col-md-6" style="float:right;">
                                <label id="SystemName" class="control-label col-md-12">إسم النظام</label>
                                @Html.DropDownList("CR_Mas_Sup_System_Code", null, "-- Select system name --", htmlAttributes: new { @class = "input_form col-md-6", style = "float:right"/*onchange = @"fetch_list(this.value)"*/})
                                <div class="texterr" style="float:right"></div>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin-top:0px;">
                        <div>
                            <div class="col-md-6" style="float:right;">
                                @Html.LabelFor(model => model.CR_Mas_User_Sub_Validation_Tasks_Code, htmlAttributes: new { @class = "control-label col-md-12" })
                                @Html.DropDownList("CR_Mas_User_Sub_Validation_Tasks_Code", new SelectList(""), "-- Select Task name --", htmlAttributes: new
                                {
                                    @class = "input_form col-md-6",
                                    style = "float:right"
                                    /*onchange = @"fetch_list(this.value)"*/
                                })
                                <div class="texterr">@ViewBag.task</div>
                            </div>

                            <div class="col-md-6" style="float:right;">
                                <div class="checkbox">
                                    <label id="SystemName" class="control-label col-md-12" style="">صلاحيات الشاشة</label>
                                    @Html.CheckBox("CR_Mas_User_Main_Validation")
                                </div>
                                <div class="texterr" style="float:right"></div>
                            </div>
                        </div>
                    </div>


                    <div class="row " style="margin-top:20px;">
                        <div>
                            <div class="col-md-6 offset-md-6 " style="margin-top:0px;">
                                @Html.LabelFor(model => model.CR_Mas_User_Sub_Validation_Insert, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="checkbox">
                                    @Html.CheckBox("CR_Mas_User_Sub_Validation_Insert")
                                </div>
                            </div>


                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.CR_Mas_User_Sub_Validation_Delete, htmlAttributes: new { @class = "control-label col-md-10" })
                                <div class="checkbox">
                                    @Html.CheckBox("CR_Mas_User_Sub_Validation_Delete", new { @onclick = "checkdelete();", htmlAttributes = new { @class = "form-control" } })
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin-top:0px;">
                        <div>
                            <div class="col-md-6" style="float:right;">
                                @Html.LabelFor(model => model.CR_Mas_User_Sub_Validation_Hold, htmlAttributes: new { @class = "control-label col-md-10" })
                                @Html.CheckBox("CR_Mas_User_Sub_Validation_Hold", new { @onclick = "checkhold();", htmlAttributes = new { @class = "form-control" } })
                                <div class="texterr" style="float:right"></div>
                            </div>
                            <div class="col-md-6" style="float:right;">
                                @Html.LabelFor(model => model.CR_Mas_User_Sub_Validation_UnDelete, htmlAttributes: new { @class = "control-label col-md-10", Hidden = "true" })
                                @Html.CheckBox("CR_Mas_User_Sub_Validation_UnDelete", new { Hidden = "True" })
                                <div class="texterr" style="float:right">@ViewBag.exist</div>
                                <div class="texterr">@ViewBag.UserInfo</div>
                            </div>

                        </div>
                    </div>


                    <div class="row" style="margin-top:0px;">
                        <div>
                            <div class="col-md-6" style="float:right;">
                                @Html.LabelFor(model => model.CR_Mas_User_Sub_Validation_UnHold, htmlAttributes: new { @class = "control-label col-md-10", Hidden = "True" })
                                @Html.CheckBox("CR_Mas_User_Sub_Validation_UnHold", new { Hidden = "True" })
                                <div class="texterr" style="float:right"></div>
                            </div>
                            <div class="col-md-6" style="float:right;">
                                @Html.LabelFor(model => model.CR_Mas_User_Sub_Validation_Print, htmlAttributes: new { @class = "control-label col-md-10" })
                                @Html.CheckBox("CR_Mas_User_Sub_Validation_Print")
                                <div class="texterr" style="float:right">@ViewBag.exist</div>
                                <div class="texterr">@ViewBag.UserInfo</div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6" style="float:right;">
                        @Html.LabelFor(model => model.CR_Mas_User_Sub_Validation_UpDate, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.CheckBox("CR_Mas_User_Sub_Validation_Update")
                        <div class="texterr" style="float:right">@ViewBag.exist</div>
                        <div class="texterr">@ViewBag.UserInfo</div>
                    </div>


                </div>


                <div class="col-md-6" style="margin-top:0px">
                    <div style="height:60px;"></div>
                    <a href="/ModelCategory/Index/" class="btn" style="font-family:'Times New Roman';float:left;font-size:15px!important;width: 70px !important;padding-top:4px;height:30px; background-color: #F3B161; padding-right: 22px; border-radius: 0px; color: white;">انهاء</a>
                </div>
                <div class="col-md-6" style="margin-top:0px;">
                    <div style="height:60px;"></div>
                    <input type="submit" class="submit_btn" name="save" value="حفظ" style="margin-right:10px;" />
                </div>
                <div class="col-md-6" id="Message" style="font-family:'Times New Roman';font-size:16px;color:red;margin-Top: 50px; margin-right: 330px;position:absolute;">@TempData["TempModel"]</div>
            }


            <script>
                //function fetch_list(val) {
                //    alert("xxx" + val);
                //    $.ajax({
                //        type: 'post',
                //        url: 'List_select/' + val,
                //        data: {
                //            get_option: val
                //        },
                //        success: function (response) {
                //            alert("yyyy" + val);
                //            document.getElementById("list").style.display = "block";
                //            document.getElementById("list").innerHTML = response;
                //        }
                //    });

                //}

                $(document).ready(function () {
                    $("#CR_Mas_Sup_System_Code").change(function () {
                        $.get("/SubValidation/GetTaskList", { SystemCode: $("#CR_Mas_Sup_System_Code").val() }, function (data) {
                            $("#CR_Mas_User_Sub_Validation_Tasks_Code").empty();
                            $.each(data, function (index, row) {
                                $("#CR_Mas_User_Sub_Validation_Tasks_Code").append("<option value= '" + row.CR_Mas_Sys_Tasks_Code + "'>" + row.CR_Mas_Sys_Tasks_Ar_Name + "</option>")
                            });
                        });
                    })
                });



                function checkdelete() {
                    if (document.getElementById('CR_Mas_User_Sub_Validation_Delete').checked) {
                        $('#CR_Mas_User_Sub_Validation_UnDelete').prop('checked', true);
                    } else {
                        $('#CR_Mas_User_Sub_Validation_UnDelete').prop('checked', false);
                    }
                }


                function checkhold() {
                    if (document.getElementById('CR_Mas_User_Sub_Validation_Hold').checked) {
                        $('#CR_Mas_User_Sub_Validation_UnHold').prop('checked', true);
                    } else {
                        $('#CR_Mas_User_Sub_Validation_UnHold').prop('checked', false);
                    }
                }

            </script>
            @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
        </div>
            </div>
</div>