@model RentCar.Models.CR_Mas_Sup_Model

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h4 style="margin-right: 30px;font:bold 18px Simplified Arabic">الطراز / إضافة</h4>
<style>
    #sp {
        margin-right: 15%;
        margin-top: 16px;
        margin-bottom: -5px;
    }
    #add_btn {
        background-color: #5bc0de;
        height: 20px;
        width: 80px;
        margin-right: 45px;
        margin-top: 40px;
        color: #fff;
        float: right;
        /*margin-bottom: 10px;
        font-family: 'Times New Roman';
        padding-top: 3px;
        font-size: 12px;*/
    }
    .lbl {
        margin-right: 30px;
        font-size: 16px !important;
        font-family: 'Times New Roman' !important;
    }
    .txt {
        width: 200px;
        margin-top: 15px;
        font-size: 13px !important;
        font-family: 'Times New Roman!important';
        height: 20px;
    }
    .text-danger {
        font-size: 12px;
        margin-right: 160px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4><span style="margin-right:30px;font:bold 15px Simplified Arabic">تمكن هذه الصفحة المستخدم من إظافة طراز جديد</span></h4>
    <hr style="border-top: 1px solid #1c11114a;" />
    <div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_Sup_Model_Code, new { @class = "lbl" })
            @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_Code, new { @class = "txt", style = "margin-right:70px;width:13%", @readonly = "readonly" })
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_Sup_Model_Brand_Code, new { @class = "lbl" })
            @Html.DropDownList("CR_Mas_Sup_Model_Brand_Code", null, new { @class = "txt", style = "margin-right:62px;width:13%" })
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_Sup_Model_Ar_Name, new { @class = "lbl", style = "margin-left:30px;" })
            @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_Ar_Name, new { @class = "txt", maxlength = "30", autocomplete = "off" })
            <br><span class="text-danger">@ViewBag.LRExistAr</span>
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_Sup_Model_En_Name, new { @class = "lbl", style = "margin-left:15px;" })
            @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_En_Name, new { @class = "txt", maxlength = "30", autocomplete = "off" })
            <br><span class="text-danger">@ViewBag.LRExistEn</span>
        </div>
        <div>
            @Html.LabelFor(model => model.CR_Mas_Sup_Model_Fr_Name, new { @class = "lbl", style = "margin-left:23px;" })
            @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_Fr_Name, new { @class = "txt", maxlength = "30", autocomplete = "off" })
            <br><span class="text-danger">@ViewBag.LRExistFr</span>
        </div>

        @Html.LabelFor(model => model.CR_Mas_Sup_Model_Status, htmlAttributes: new { @class = "Hidden" })
        @Html.EditorFor(model => model.CR_Mas_Sup_Model_Status, new { htmlAttributes = new { @class = "hidden"}})

        @Html.LabelFor(model => model.CR_Mas_Sup_Model_Counter, htmlAttributes: new { @class = "Hidden" })
        @Html.EditorFor(model => model.CR_Mas_Sup_Model_Counter, new { htmlAttributes = new { @class = "hidden"}})

        @Html.LabelFor(model => model.CR_Mas_Sup_Model_Group_Code, "رمز المجموعة", htmlAttributes: new { @class = "" })
        @Html.DropDownList("CR_Mas_Sup_Model_Group_Code", null, new { @class = "" })

        @Html.LabelFor(model => model.CR_Mas_Sup_Model_Reasons, htmlAttributes: new { @class = "Hidden" })
        @Html.EditorFor(model => model.CR_Mas_Sup_Model_Reasons, new { htmlAttributes = new { @class = "hidden"}})
    </div>
    <div class="form-group">
        <input type="submit" value="حفظ" name="add" class="btn btn-info" id="add_btn" />
        @Html.ActionLink("إنهاء", "Index", "Model", null, new { @class = "btn btn-info", title = "عودة لقائمة الطرازات", Style = "Float:Left;margin-top:40px;margin-left:40px;font-family:Times-new-roman;width:80px;height:20px;padding-top:1px;" })
    </div>
</div>
}