@model RentCar.Models.CR_Mas_Sup_Model

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="margin-right: 30px;font:bold 18px Simplified Arabic">الطراز / تعديل</h4>
<style>
    #save-btn {
        margin-right: 10px;
        background-color: #5bc0de !important;
        width: 80px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    #bttn {
        float: right;
        width: 80px;
        background-color: #5bc0de !important;
        margin-left: 20px;
    }
    #btn-confirm {
        float: right;
        width: 80px;
        margin-left: 20px;
    }
    .lbl {
        margin-right: 30px;
        font-size: 16px;
        font-family: 'Times New Roman';
    }
    .txt {
        width: 200px;
        margin-top: 10px;
        /*font-size: 13px !important;
        font-family: 'Times New Roman!important';
        height: 20px;*/
        margin-right: 20px;
    }
    .text-danger {
        font-size: 12px;
        margin-right: 160px;
        font-family: 'Times New Roman';
    }
</style>
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4><span style="margin-right:30px;font:bold 15px Simplified Arabic">تمكن هذه الصفحة المستخدم من التعديل على الطراز </span></h4>
    <hr style="border-top: 1px solid #1c11114a;" />  
    <div>
        @Html.LabelFor(model => model.CR_Mas_Sup_Model_Code, new { @class = "lbl" })
        @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_Code, new { @class = "txt", style = "margin-right:75px;width:12%", @readonly = "readonly" })
    </div>
    <div>
        @Html.LabelFor(model => model.CR_Mas_Sup_Model_Brand_Code, "الماركة", new { @class = "lbl" })
        @Html.DropDownList("CR_Mas_Sup_Model_Brand_Code", null, new { @class = "txt", style = "margin-right:75px" })
    </div>
    <div>
        @Html.LabelFor(model => model.CR_Mas_Sup_Model_Ar_Name, new { @class = "lbl" })
        @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_Ar_Name, new { @class = "txt", style = "margin-right:35px", maxlength = "30", autocomplete = "off" })
        <br><span class="text-danger">@ViewBag.LRExistAr</span>
    </div>
    <div>
        @Html.LabelFor(model => model.CR_Mas_Sup_Model_En_Name, new { @class = "lbl" })
        @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_En_Name, new { @class = "txt", style = "margin-right:20px", maxlength = "30", autocomplete = "off" })
        <br><span class="text-danger">@ViewBag.LRExistEn</span>
    </div>
    <div>
        @Html.LabelFor(model => model.CR_Mas_Sup_Model_Fr_Name, new { @class = "lbl" })
        @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_Fr_Name, new { @class = "txt", style = "margin-right:27px", maxlength = "30", autocomplete = "off" })
        <br><span class="text-danger">@ViewBag.LRExistFr</span>
    </div>
    <div>
        @Html.LabelFor(model => model.CR_Mas_Sup_Model_Reasons, new { @class = "lbl" })
        @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_Reasons, new { @class = "txt", style = "margin-right:68px;width:70%;", maxlength = "100", autocomplete = "off" })
    </div>

    @Html.LabelFor(model => model.CR_Mas_Sup_Model_Counter, new { @class = "Hidden" })
    @Html.TextBoxFor(model => model.CR_Mas_Sup_Model_Counter, new { @class = "Hidden" })

    @Html.LabelFor(model => model.CR_Mas_Sup_Model_Status, new { @class = "Hidden" })
    @Html.EditorFor(model => model.CR_Mas_Sup_Model_Status, new { htmlAttributes = new { @Value = ViewBag.delete, @class = "Hidden"} })

    @Html.LabelFor(model => model.CR_Mas_Sup_Model_Group_Code, "المجموعة", new { @class = "Hidden" })
    @Html.DropDownList("CR_Mas_Sup_Model_Group_Code", null, new { @class = "Hidden" })

    <div style="margin-top:50px;">
        <div>
            @if (ViewBag.delete == "D")
            {
                if (RentCar.Controllers.AccountController.ST_1502_undelete)
                {
                    @*<input type="submit" name="delete" id="del" class="btn btn-success" value="@ViewBag.stat" style="float: right;background-color: #5cb85c;width:80px;" />*@
                    <input type="submit" name="save" value="حفظ" id="save-btn" class="btn btn-info" style="float: right;" disabled />
                    <input type="submit" name="hold" id="bttn" class="btn btn-info" value="@ViewBag.h" style="" disabled />
                    <input type="button" name="delete" id="btn-confirm" class="btn btn-success" value="@ViewBag.stat" style="background-color:#5cb85c;" />
                }
                else
                {
                    <input type="submit" name="save" value="حفظ" id="save-btn" class="btn btn-info" style="float: right;" disabled />
                    <input type="submit" name="hold" id="bttn" class="btn btn-info" value="@ViewBag.h" style="" disabled />
                    <input type="button" name="delete" id="btn-confirm" class="btn btn-success" value="@ViewBag.stat" style="background-color:#5cb85c;" disabled />
                }
            }
            else
            {
                if (ViewBag.delete == "H")
                {
                    if (RentCar.Controllers.AccountController.ST_1502_unhold)
                    {
                        <input type="submit" name="save" value="حفظ" id="save-btn" class="btn btn-info" style="float: right;" disabled />
                        <input type="submit" name="hold" id="bttn" class="btn btn-info" value="@ViewBag.h" style="" />
                        <input type="button" name="delete" id="btn-confirm" class="btn btn-success" value="@ViewBag.stat" style="background-color:#5cb85c;" disabled />
                    }
                    else
                    {
                        <input type="submit" name="save" value="حفظ" id="save-btn" class="btn btn-info" style="float: right;" disabled />
                        <input type="submit" name="hold" id="bttn" class="btn btn-info" value="@ViewBag.h" style="" disabled />
                        <input type="button" name="delete" id="btn-confirm" class="btn btn-success" value="@ViewBag.stat" style="background-color:#5cb85c;" disabled />
                    }

                }
                else
                {
                    if (RentCar.Controllers.AccountController.ST_1502_update)
                    {
                        <input type="submit" name="save" value="حفظ" id="save-btn" class="btn btn-info" style="float: right;" />
                        <input type="submit" name="hold" id="bttn" class="btn btn-info" value="@ViewBag.h" style="" />
                        <input type="button" name="delete" id="btn-confirm" class="btn btn-danger" value="@ViewBag.stat" style="background-color:#d9534f;" />
                    }
                    else
                    {
                        <input type="submit" name="save" value="حفظ" id="save-btn" class="btn btn-info" style="float: right;" disabled />
                        <input type="submit" name="hold" id="bttn" class="btn btn-info" value="@ViewBag.h" style="" />
                        <input type="button" name="delete" id="btn-confirm" class="btn btn-danger" value="@ViewBag.stat" style="background-color:#d9534f;" />
                    }

                }
            }
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal" style="margin-top:17%;">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" style=" margin-right: 10%;">تأكيد</h4>
                        </div>
                        <div class="modal-footer">
                            @if (ViewBag.delete == "D")
                            {
                                <input type="submit" name="delete" id="modal-btn-si" class="btn btn-success" value="@ViewBag.stat" style="width:80px;background-color:#5cb85c;" />
                            }
                            else
                            {
                                <input type="submit" name="delete" id="modal-btn-si" class="btn btn-danger" value="@ViewBag.stat" style="width:80px;background-color:#d9534f;" />
                            }
                            <button type="button" class="btn btn-primary" id="modal-btn-no" style="float:left;width:80px;font:bold 10px Tahoma;height: 20px;padding-top: 2px;">إلغاء</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var modalConfirm = function (callback) {

                    $("#btn-confirm").on("click", function () {
                        $("#mi-modal").modal('show');
                    });
                    $("#modal-btn-si").on("click", function () {
                        callback(true);
                        $("#mi-modal").modal('hide');
                    });
                    $("#modal-btn-no").on("click", function () {
                        callback(false);
                        $("#mi-modal").modal('hide');
                    });
                };
                modalConfirm(function (confirm) {
                    if (confirm) {
                        //Acciones si el usuario confirma
                        $("#form1").submit();
                    } else {
                        //Acciones si el usuario no confirma
                        $("#result").html("canceled");
                    }
                });
            </script>
            <a class="btn btn-info" title="عودة لقائمة الطرازات" href="/Model/Index" style="float:left;width:80px;height:20px;padding-top:3px;font:bold 10px Tahoma;margin-left:10px;">إنهاء</a>
        </div>
    </div>
</div>
}