@model IEnumerable<RentCar.Models.CR_Mas_Sup_Model>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    @*<input type="button" name="GoHome" value="الرئيسية" id="Btn" style="width:120px;margin-left:10px" onclick="@("window.location.href='" + @Url.Action("index","home") + "'") ;" />*@
    <h4 style="margin-right:10px;">الطراز / عرض البيانات</h4>
    <h6 style="margin-right:10px;">تعرض هذه الصفحة بيانات الطرازات و تمكن المسنخدم من البحث عن طراز أو إضافة طراز جديد</h6>
</div>
<style>
    #inputtext {
        width: 250px;
        height: 30px;
        margin-right: 5px;
        margin-left: -5px;
        float: left;
        margin-top: 6px;
    }
    #SrchImg {
        float: left;
        margin-top: -4px;
        margin-left: 0px;
        margin-right: -35px;
    }
    #Btn {
        width: 60px;
        height: 30px;
        margin-right: 10px;
        float: left;
        color: #fff;
        background-color: #5bc0de;
        border-color: #5bc0de;
        font: bold 15px Simplified Arabic;
    }
    .table thead {
        /*background: #9898988c;*/
        overflow-y: scroll;
        flex-grow: 1;
    }
    .table tr a {
        text-decoration: none;
        color: black;
    }
    .table td {
        border-color: #000;
    }
    .table thead th {
        color: #124f77;
        border-color: #000;
        border-bottom: 2px solid #000;
        text-align: center;
        background: #989898;
        position: sticky;
        top: 0;
    }
    .btn-info {
        margin-right: 10px;
    }
</style>
<form method="post">
    <div class="form_bg">
        <p style="margin-top:20px">
            @*@Html.ActionLink("إظافة", "Create", "Model", null, new { @class = "btn btn-info" })*@
            @Html.ActionLink(" ", "Index", "Home", null, new { @class = "btn btn-danger glyphicon glyphicon-remove", title = "غلق", style = "margin-right:10px;" })
            @Html.ActionLink(" ", "Create", "Model", null, new { @class = "btn btn-info glyphicon glyphicon-plus", title = "إضافة طراز" })
            <input type="submit" title="تحويل للإكسل" name="excelCall" class="btn btn-info" value="Excel" style="width: 40px; padding-right:7px; height: 34px;margin-top:3px; background-color: #5bc0de; border-color: #46b8da;" onclick="@("window.location.href='" + @Url.Action("index","home") + "'") ;" />
            @Html.ActionLink(" ", " ", " ", null, new { @class = "btn btn-info glyphicon glyphicon-print", title = "طباعة" })
            @Html.ActionLink(" ", " ", " ", null, new { @class = "btn btn-info glyphicon glyphicon-Search", title = "بحث" })
            <img src="~/images/srch.png" id="SrchImg" />
            <input class="form-control" type="text" id="inputtext" name="TxtSearch" placeholder="بحث..." />
            <script>
                $(document).ready(function () {
                    $("#inputtext").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#tbl tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>
        </p>
        <div class="table-responsive" style="width:697px; height:250px; overflow:auto;border: 1px solid #1c11114a;">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:10%;">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Model_Code)</th>
                        @if (RentCar.Controllers.HomeController.Language == "1")
                        {
                            <th style="width:20%;">الإسم</th>
                        }
                        @if (RentCar.Controllers.HomeController.Language == "2")
                        {
                            <th style="width:20%;">Name</th>
                        }
                        @if (RentCar.Controllers.HomeController.Language == "3")
                        {
                            <th style="width:20%;">Nom</th>
                        }
                        @*<th style="min-width:7%;width:10%;">
                            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Model_Counter)
                        </th>*@
                        <th style="width:15%;">الماركة@*@Html.DisplayNameFor(model => model.CR_Mas_Sup_Brand.CR_Mas_Sup_Brand_Ar_Name)*@</th>
                        <!--<th style="min-width:7%;width:10%;">المجموعة-->@*@Html.DisplayNameFor(model => model.CR_Mas_Sup_Group.CR_Mas_Sup_Group_Ar_Name)*@<!--</th>-->
                        <th style="width:10%;">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Model_Status)</th>
                        <th style="width:45%;">@Html.DisplayNameFor(model => model.CR_Mas_Sup_Model_Reasons)</th>
                    </tr>
                </thead>
                <tbody id="tbl">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td style="text-align:center">
                            <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">
                                @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)
                            </a>
                        </td>
                        @if (RentCar.Controllers.HomeController.Language == "1")
                        {
                            <td>
                                <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">
                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Ar_Name)
                                </a>
                            </td>
                        }
                        @if (RentCar.Controllers.HomeController.Language == "2")
                        {
                            <td>
                                <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">
                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_En_Name)
                                </a>
                            </td>
                        }
                        @if (RentCar.Controllers.HomeController.Language == "3")
                        {
                            <td>
                                <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">
                                    @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Fr_Name)
                                </a>
                            </td>
                        }
                        @*<td>
                            <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Counter)</a>
                        </td>*@
                        <td style="text-align:center">
                            <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">
                                @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Brand.CR_Mas_Sup_Brand_Ar_Name)
                            </a>
                        </td>
                        @*<td style="text-align:center">
                            <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Group.CR_Mas_Sup_Group_Ar_Name)</a>
                        </td>*@
                        <td style="text-align:center">
                            @*<a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Status)</a>*@
                            @if (item.CR_Mas_Sup_Model_Status == "A")
                            {
                                <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">نشط</a>
                            }

                            @if (item.CR_Mas_Sup_Model_Status == "D")
                            {
                                <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">محذوف</a>
                            }

                            @if (item.CR_Mas_Sup_Model_Status == "H")
                            {
                                <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">معطل</a>
                            }
                        </td>
                        <td>
                            <a href="~/Model/edit/@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Code)">@Html.DisplayFor(modelItem => item.CR_Mas_Sup_Model_Reasons)</a>
                        </td>
                        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CR_Mas_Sup_Model_Code }) |
            @Html.ActionLink("Details", "Details", new { id = item.CR_Mas_Sup_Model_Code }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CR_Mas_Sup_Model_Code })
        </td>*@
                    </tr>
                    }
                </tbody>
            </table>
        </div>
      </div>
</form>