@model RentCar.Models.CR_Mas_Sup_Regions

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CR_Mas_Sup_Regions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Regions_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Regions_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Regions_En_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Regions_En_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Regions_Fr_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Regions_Fr_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Regions_L1_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Regions_L1_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Regions_L2_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Regions_L2_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Regions_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Regions_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Regions_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Regions_Reasons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CR_Mas_Sup_Regions_Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
